<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- based on server HW -->
    <add key="NumberOfJobPorcess" value="1"/>
   </appSettings>
  <connectionStrings>
    <add name="PLMConnectionString" connectionString="Data Source=lab-vms;Initial Catalog=OSCPLMS3_Test;Integrated Security=False;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
    <add name="DWDataSourceConnectionString" connectionString="Data Source=lab-vms;Initial Catalog=OSCPLMS3_Test;Integrated Security=False;User ID=sa;Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout="3000"/>
    <sessionState mode="InProc" cookieless="true" timeout="300"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>